.col-board {
  background: #D3D3D3;
  height: 50px;
  width: 50px;
  border-style: outset;
}

.robot {
  background-image: 'robot.png';
}

.robot.north:after {
  content: "\25B2";
}

.robot.east:after {
  content: "\25BA";
}

.robot.south:after {
  content: "\25BC";
}

.robot.weast:after {
  content: "\25C4";
}

.content {
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 1%;
}

html {
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card {
  padding: 2%;
  margin-left: 20%;
  margin-right: 20%;
}
